body {
    justify-content: center;
    align-items: center;
    background-color: black;
    }
.box {
    height: 100px;
    width: 100px;
    background-color:red; 
    border: white solid 2pt;
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: black; 
    border: white solid 2pt;
}
/* .wrapper {
    justify-content: center;
    gap:20px;
} */

/* /* Using the color approach/ */

li {
    width: 100px;
    height: 100px;
    border: white solid 2pt;
    list-style: none;
}

table tr td {
    width: 100px;
    height: 100px;
}

.color1 {
    background-color: rgb(166, 173, 158);
    
}

.color2 {
    background-color: rgb(0, 255, 76);
    
}

.row {
    display: flex;
    margin:0px;
    justify-content: center;

}

.rowblack {
    display: flex;
    background-color: black;
}
h1 {
    font-size: 30pt;
    color: white;
    text-align: center;
}

p {
    font-size: 20pt;
    color: white;
    text-align: center;
}
