<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>

</head>

<body>

<p>This is the default  loading page, with a  hard-coded display of an  8x8 grid...I used a for loop at the top to run 4 times display a set of 4 divs, displaying 2 alternating color divs each iteration.<br>Since I have a nested for loop  to essentially run 4 times if the iterated number is even, and 4 times if it is odd. <br>If even, it will display a row starting with one color and alternating. <br>If Odd it will display the  row with the alternate color that even started</p>

{% for num in range (0, 4): %}    
    <div class="row">
            {% for num in range (0, 8): %}
                {% if num%2==0: %}
                    <div class="box"></div>
                {% else: %}  
                    <div class="box2"></div>
                {% endif %}
            {% endfor %}
    </div>
    <div class="row">
        {% for num in range (0, 8): %}
            {% if num%2==0: %}
                <div class="box2"></div>
            {% else: %}  
                <div class="box"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

</body>
</html>